*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
background: 
    radial-gradient(rgb(177, 177, 177) 3px, transparent 4px),
    radial-gradient(rgb(177, 177, 177) 3px, transparent 4px),
    linear-gradient(rgba(255, 255, 255, 0.219) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.l_1{
    color: rgb(240, 69, 69);
    font-weight: bolder;/*negrita para letra*/
    font-size: 50px;/*tamaño del título*/
    text-align: center;/*texto al centro*/
}

.recuadro{
    width: 90%;
    background: cadetblue;/*color del interior del recuadro*/
    margin:7% auto ;
    padding: 20px;/*tamaño del recuadro*/
    border-radius: 15px; 
    border: 2px solid rgb(255, 0, 0);/*color del borde del recuadro*/
}
.recuadro .t_datos{
    color: red;
    font-size: xx-large;/*tamaño de letra*/
    text-align: center;/*texto en el centro*/
    font-weight: bolder;/*negrita para letra*/
    border-bottom: 10px black dashed;/*rayas recortadas negras*/
}
.informacion{
    font-size: xx-large;
    text-align: center;/* arreglar desde aquí*/
}
.form-register{
    width: 400px;
    background: rebeccapurple;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
}
.controls{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid red;
    font-size: 18px;
}
.form-register .botons{
    width: 100%;
    background: rgb(79, 79, 233);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

